In [1]:



import pymongo
from pymongo import MongoClient
import urllib.parse
from bson.json_util import dumps
import csv
from datetime import datetime
import numpy as np

cluster = MongoClient("mongodb+srv://WorldCup:Bola123@cluster0.0ma82ju.mongodb.net/test")
db=cluster["Trips"]
collection=db["cabs"]
zones = db['zones']
import pandas as pd

#a)

df = pd.read_csv('taxi_trip_data.csv',encoding='unicode_escape')

df = df.iloc[:15000]

df = df.drop(columns=['store_and_fwd_flag', 'rate_code', 'total_amount'])

df.to_csv('taxitripdatanew.csv', index=False)

df2 = pd.read_csv('taxitripdatanew.csv',encoding='unicode_escape')
df3=pd.read_csv('taxi_zone_geo.csv',encoding='unicode_escape')
#b)

essentials= ['fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'imp_surcharge', 'payment_type', 'tip_amount'  ,'pickup_datetime', 'dropoff_datetime']
df2 = df2.dropna(subset=essentials)
df2 = df2[df2.passenger_count != 0]

print(df.shape)
print(df2.shape)


#c)
collection.insert_many(df2.to_dict('records'))
zones.insert_many(df3.to_dict('records'))

(15000, 14)
(14852, 14)

In [ ]:
#d)

#pickup_datetime = pd.to_datetime(df2['pickup_datetime'])
#dropoff_datetime = pd.to_datetime(df2['dropoff_datetime'])
#duration = dropoff_datetime - pickup_datetime
#df2['duration'] = duration

for i in collection.find():
        pickup_datetime = datetime.strptime(i['pickup_datetime'], '%Y-%m-%d %H:%M:%S')
        dropoff_datetime = datetime.strptime(i['dropoff_datetime'], '%Y-%m-%d %H:%M:%S')
        duration = (dropoff_datetime - pickup_datetime).total_seconds()  # /60 if we want it in minutes

        collection.update_one(
                {'_id': i['_id']},
                {'$set': {'duration': duration}}
        )

In [ ]:
#e)

for i in collection.find():
        total_cost = sum(i[j] for j in ['fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'imp_surcharge'])
        collection.update_one({'_id': i['_id']}, {'$set': {'total_cost': total_cost}})

In [20]:
#print("Number of documents with duration:", collection.count_documents({ "duration": { "$exists": True } }))
#print("Number of documents with total_cost:", collection.count_documents({ "total_cost": { "$exists": True } }))

Number of documents with duration: 7259
Number of documents with total_cost: 10155

In [18]:
#f)
pipeline = [
    {
        "$project": {
            "hour": { "$hour": { "$dateFromString": { "dateString": "$pickup_datetime", "format": "%Y-%m-%d %H:%M:%S" } } },
            "payment_type": "$payment_type"
        }
    },
    {
        "$group": {
            "_id": {
                "hour": "$hour",
                "time_of_day": {
                    "$cond": [
                        { "$lt": ["$hour", 12] },
                        "morning",
                        {
                            "$cond": [
                                { "$lt": ["$hour", 18] },
                                "afternoon",
                                "evening"
                            ]
                        }
                    ]
                },
                "payment_type": "$payment_type"
            },
            "count": { "$sum": 1 }
        }
    },
    {
        "$sort": {
            "_id.hour": 1,
            "count": -1
        }
    },
    {
        "$group": {
            "_id": {
                "time_of_day": "$_id.time_of_day"
            },
            "most_common_payment_type": { "$first": "$_id.payment_type" }
        }
    }
]

# Execute the aggregation and print the results
result = list(collection.aggregate(pipeline))
for doc in result:
    print("Most common payment type in" ,doc['_id']['time_of_day'],":" ,doc['most_common_payment_type'])

Most common payment type in afternoon : 1
Most common payment type in morning : 1
Most common payment type in evening : 1

In [10]:
#g)

pipeline = [
        {'$group': {'_id': '$passenger_count', 'average': {'$avg': '$tip_amount'}}},
        {
        '$sort': {'_id': 1}
        }
]
for result in list(collection.aggregate(pipeline)):
        print("count:",result['_id'], "  Average :", result['average'])

count: 1   Average : 1.8521152216887886
count: 2   Average : 1.8521854008060905
count: 3   Average : 1.7305045871559632
count: 4   Average : 2.321744186046512
count: 5   Average : 1.9043854324734446
count: 6   Average : 2.039247058823529

In [11]:
#h)

pipeline = [
    {
        '$lookup': {
            'from': 'zones',
            'localField': 'pickup_location_id',
            'foreignField': 'zone_id',
            'as': 'zone'
        }
    },
    {
        '$unwind': '$zone'
    },
    {
        '$group': {
            '_id': '$pickup_location_id',
            'avg_fare_amount': {'$avg': '$fare_amount'}
        }
    },
    {
        '$sort': {'avg_fare_amount': -1}
    },
    {
        '$limit': 5
    }
]

# execute the pipeline and get the results
results = list(collection.aggregate(pipeline))

# look up the zone names and boroughs for each of the top 5 locations
for result in results:
    address = zones.find_one({'zone_id': result['_id']})['zone_name']
    print(address,"avg fare :",result['avg_fare_amount'])

Springfield Gardens South avg fare : 150.0
Riverdale/North Riverdale/Fieldston avg fare : 79.0
East New York/Pennsylvania Avenue avg fare : 66.5
Coney Island avg fare : 61.0
Saint Albans avg fare : 58.0